@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins&display=swap');

body {
    font-family: 'Lobster', cursive;
    font-family: 'Poppins', sans-serif;
}

.card-function {
    list-style-type: none;
}

.fa-check-circle {
    color: #5243C2;
}

.alert {
    position: static;
}